{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}{% endblock %}
{% block content_offset %}{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12">
            <h1 class="uppercase font-bold text-5xl text-zinc-100 pt-12 pb-8">
                Chuckify Yourself
            </h1>

            {% set field_class = 'block mt-4 mx-auto w-full sm:w-96 rounded-md border border-zinc-700 bg-zinc-800 px-4 py-2.5 text-base text-zinc-100 placeholder-zinc-500 outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500' %}
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {'attr': {'class': field_class}}) }}
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': field_class}}) }}


            <button
                type="submit"
               class="uppercase mt-10 font-bold border border-zinc-700 bg-yellow-400 text-zinc-900 text-sm py-2.5 px-6 rounded-full transition-all shadow-xl hover:border-zinc-600 hover:bg-indigo-400 hover:text-white">
                CHUCK ME
            </button>

            {{ form_end(registrationForm) }}

        </div>
            <a href="/login" class="underline text-zinc-300 py-4 px-12 transition transition-all hover:text-zinc-100">already have an account?  → Chuck in</a>
    </div>
{% endblock %}
