{% extends 'base.html.twig' %}

{% block title %}Error {{ status_code }}{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block content_offset %}{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center min-h-dvh flex flex-col items-center justify-center">
        <h1 class="uppercase font-bold text-5xl text-zinc-100 pb-8">
            {{ status_code }}
        </h1>
        <p class="font-light text-zinc-400 italic pb-12">
            {{ status_text }}
        </p>
        <a href="{{ path('app_homepage') }}" class="uppercase font-bold border border-zinc-700 bg-yellow-400 text-zinc-900 text-lg py-4 px-12 rounded transition transition-all shadow-xl hover:border-zinc-600 hover:bg-indigo-400 hover:text-white">Back to safety</a>
    </div>
{% endblock %}
