<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    </head>
    <body class="bg-white-100 h-screen antialiased leading-none font-sans">

{% block body %}
    <div class="w-4/5 m-auto text-center min-h-full h-screen">

        <div class="pb-8">
            <h1 class="uppercase font-bold text-5xl text-gray-800 pt-48 pb-8">
               Chuck Norris
            </h1>
            <span class="font-light text-gray-500 italic">
                Jokes Hub
            </span>
        </div>

        <section class="hero container  mx-auto pt-12 flex">
            <img src="{{ asset('build/images/chuck.b5edacb6.png') }}" class="mx-auto h-64">
        </section>

            <div class="pt-12 flex items-center justify-around flex-wrap">
            <a href="/login" class="uppercase font-bold border border-gray-300 bg-yellow-400 text-gray-800 text-lg py-4 px-12 rounded transition transition-all shadow-xl hover:border hover:border-gray-300 hover:bg-indigo-400 hover:text-white">Login</a>

            <a href="/register" class="uppercase font-bold border border-gray-300 bg-yellow-400 text-gray-800 text-lg py-4 px-12 rounded transition transition-all shadow-xl hover:border hover:border-gray-300 hover:bg-indigo-400 hover:text-white">Register</a>
        </div>

    </div>
{% endblock %}
